{erl_opts, [
  debug_info,
  {platform_define, "^R", pre17},
  maps_always
]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.

{deps, [
  {yarc_riak,"0.1.0",{git,"https://github.com/forgottenEntity/yarc_riak", {tag, "0.1.0"}}},
  {cowboy,"1.1.2",{git,"https://github.com/ninenines/cowboy.git", {tag, "1.1.2"}}},
  {lager, "3.3.0", {git, "https://github.com/erlang-lager/lager.git", {tag, "3.3.0"}}},
  {yarc_schema, "0.1.0",{git,"https://github.com/forgottenEntity/yarc_schema", {tag, "0.1.0"}}},
  {yarc_index, "0.1.0",{git,"https://github.com/forgottenEntity/yarc_index", {tag, "0.1.0"}}}
]}.
